{% load movie_extras %}
<div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 px-2 mb-3">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <button>
            <img class="w-full h-72 object-cover transition-transform duration-300 ease-in-out cursor-pointer" src="{{ movie.cover }}" alt="Movie Cover" onclick="showOriginalImage('{{ movie.cover }}')">
        </button>



        <!-- 添加预览和删除按钮 -->
        <div class="mt-1 flex justify-between px-2">
            {% if movie.video_src %}
            <button onclick="openPrevModal('{{ movie.video_src }}')" class="bg-blue-500 text-white px-4 py-0 rounded text-xs">预览</button>
            {% endif %}
            {% if movie.video_path %}
     
            <button onclick="openUrl('{{ movie.video_path|escapejs }}')" class="bg-blue-500 text-white px-4 py-2 rounded">播放</button>
            {% endif %}
            <button onclick="delMovie('{{ movie.id|replace_slash }}')" class="bg-red-500 text-white px-4 py-2 rounded text-xs">删除</button>
            <input type="number" step="0.1" min="0" max="5" id="rating-{{ movie.id }}" class=" text-gray-500 bg-white border border-gray-300 rounded" value="{{ movie.my_rate }}" onblur="rateMovie('{{ movie.id }}')">
            {% comment %} <button onclick="rateMovie('{{ movie.id }}')" class="bg-blue-500 text-white px-4 py-1 rounded ml-2 text-xs">提交</button> {% endcomment %}
        </div>

        <div class="p-2">
            <h2 class="text-base font-bold text-gray-800">{{ movie.current_title }}</h2>
            <p class="text-gray-600 text-xs" >{{ movie.release_date }},{{ movie.duration }}min,{{ movie.rate }}/{{ movie.rater }}</p>
            
            {% if movie.publisher.name %}
            <p class="text-gray-600 text-xs">发行商: <a href="/group/{{movie.publisher.id|replace_slash}}">{{ movie.publisher.name }}</a></p>
            {% endif %}
            {% if movie.director.name %}
            <p class="text-gray-600 text-xs">导演: <a href="/group/{{movie.director.id|replace_slash}}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">{{ movie.director.name }}</a></p>
            {% endif %}
            {% if movie.series.name %}
            <p class="text-gray-600 text-xs">系列: <a href="/group/{{movie.series.id|replace_slash}}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">{{ movie.series.name }}</a></p>
            {% endif %}
            {% if movie.maker.name %}
            <p class="text-gray-600 text-xs">制作商: <a href="/group/{{movie.maker.id|replace_slash}}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">{{ movie.maker.name }}</a></p>
            {% endif %}
            <div class="mt-1">
                <h3 class=" text-xs font-semibold text-gray-800">Tags:</h3>
                <div class="flex flex-wrap">
                    {% for tag in movie.tags.all %}
                    <a href="/group/{{tag.id|replace_slash}}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">
                    <span class="bg-gray-200 text-gray-800 text-xs font-semibold mr-1 px-2.5 py-0.5 rounded">{{ tag.name }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-1">
                <h3 class="text-xs font-semibold text-gray-800">Actors:</h3>
                <div class="flex flex-wrap">
                    {% for actor in movie.actors.all %}
                    <a href="/group/{{actor.id|replace_slash}}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">
                        <span class="bg-gray-200 text-gray-800 text-xs font-semibold mr-1 px-1 py-1 rounded">{{ actor.name }}</span>
                    </a>
                    
                    {% endfor %}
                </div>
            </div>
            <!-- 添加多行文本框 -->
            <div class="py-1 m-0">
                <textarea id="comment-{{ movie.id }}" class="w-full p-1 border border-gray-300 rounded text-xs" rows="1" onblur="updateComment('{{ movie.id }}')">{{ movie.comment }}</textarea>
            </div>
           

            
        </div>
    </div>
</div>

<!-- 原图浮窗 -->
<div id="imageModal" class="modal">
    <div class="modal-content ">
        <span class="close" onclick="closeImageModal()">&times;</span>
        <img id="originalImage" src="" class="max-w-full max-h-full">
    </div>
</div>